@import "../../Styles/Common.scss";

.Login {

  .login_box {
  
    .text_signup {
      margin: 15px 0 0;
      color: $font-gray;
      text-align: left;

      a {
        display: inline-block;
        margin: 0 0 0 13px;
        color: $font-black;
        text-decoration: underline;
      }
    }
  }
}
